.new-audience-table {
  table-layout: fixed;
  width: 100%;
}

.side-nav {
  border-right: 1px solid lightgray;
  width: 20%;
  height: 100vh;
  position: fixed;
}

#country-dropdown {
  background-color: white;
  color: black;
  margin: none;
  width: 90%;
}

.details {
  width: 80%;
  overflow: scroll;
}

.side-nav ul {
  list-style: none;
}